# Introduction to Tuples in Python

## What is a Tuple?

A tuple is an immutable, ordered collection of elements in Python. Tuples are similar to lists, but unlike lists, the elements of a tuple cannot be modified after it is created. Tuples are defined by enclosing elements in parentheses `()` and separating them with commas.

### Key Features of Tuples:

- **Immutable**: Once created, the elements of a tuple cannot be changed.
- **Ordered**: Tuples maintain the order of elements. via index
- **Heterogeneous**: Tuples can contain elements of different data types.
- **Hashable**: Tuples can be used as keys in dictionaries if all their elements are hashable. Because dictionary's key is also immutable.

In [1]:
tuple_example : tuple[int,str,float]= (1, "apple", 3.14)
print(tuple_example)

(1, 'apple', 3.14)

## Why Use Tuples?

### The Problem: Need for Immutable Data

In scenarios where you want to ensure the data remains constant throughout the program, lists might not be ideal due to their mutability. For instance, configuration settings or fixed data collections can benefit from immutability.

### The Solution: Tuples for Immutable Collections

Tuples provide a way to create collections that cannot be altered, ensuring data integrity and consistency.

## How Tuples Work

### Creating a Tuple

Tuples can be created in several ways:

1. **Using Parentheses:**

In [3]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

2. **Without Parentheses:**

In [4]:
numbers = 1, 2, 3
print(numbers)

(1, 2, 3)

3. **Using the `tuple` Constructor:**

In [5]:
tuple_from_list = tuple([1, 2, 3])
print(tuple_from_list)

(1, 2, 3)

4. **Using the `range` function:**

In [6]:
# Creating a tuple (1, 2, 3, 4, 5) using the range function
my_tuple = tuple(range(1, 6))
print(my_tuple)

(1, 2, 3, 4, 5)

### Accessing Elements

Tuples support indexing and slicing to access their elements:

In [8]:
fruits = ("apple", "banana", "cherry")
# print(fruits[2])  # Output
print(fruits[1:]) # Output

('banana', 'cherry')

In [9]:
my_tuple = tuple(range(1,11))
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
# my_tuple[0] = 12

my_tuple = (1,[2,3,6],4)


print(my_tuple)

my_tuple[1][2] = 8

# my_tuple[2] = 6

(1, [2, 3, 6], 4)

### Tuple Unpacking

Tuples allow unpacking into individual variables:

In [21]:
coordinates = (10, 20)

# x = coordinates

x, y = coordinates
print(x, y)  # Output: 10 20

10 20

### Nested Tuples

Tuples can be nested:

In [23]:
nested_tuple = ((1, 2), (3, 4))
print(nested_tuple[0])  # Output: (1, 2)
print(nested_tuple[0][1])

(1, 2)
2

## Common Tuple Operations

### Concatenation

Combine tuples using the `+` operator:

In [24]:
tuple1 = (1, 2)
tuple2 = (3, 4)
result = tuple1 + tuple2
print(result)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

### Repetition

Repeat tuples using the `*` operator:

In [27]:
repeated_tuple : tuple[str] = ("A",) * 5
print(repeated_tuple)

AAAAA

### Membership Test

Check if an element exists in a tuple using the `in` keyword:

In [29]:
fruits : tuple[str] = ("apple", "banana")
print("Apple" in fruits)

False

### Tuple Methods

Tuples have two built-in methods:

1. `.count()`: Counts occurrences of a value.

In [30]:
numbers : tuple[int] = (1, 2, 2, 3)
print(numbers.count(2))  # Out

2

2. `.index()`: Returns the first index of a value.

In [33]:
numbers : tuple[int] = (1, 2, 3, 2)
# print(numbers.index(2,2))  # Out

first_index = numbers.index(2)

print(numbers.index(2,first_index + 1))

3

### Iterating Over a Tuple

In [34]:
my_tuple = ('apple', 'banana', 'cherry')
for fruit in my_tuple:
    print(fruit)

apple
banana
cherry

### Storing Related Data
Tuples can store related data, like coordinates or RGB color values.

In [35]:
point = (10, 20)
color = (255, 0, 0)

print(point)  # Output: (10, 20)
print(color)  # Output: (255, 0, 0)

(10, 20)
(255, 0, 0)

## Applications of Tuples

### Using Tuples as Dictionary Keys

Since tuples are immutable, they can be used as keys in dictionaries:

Hashable: Tuples can be used as keys in dictionaries if all their elements are hashable.

Hashable objects cannot be changed after their creation. For example, integers, floats, strings, and tuples (with hashable elements) are hashable because they are immutable.

In [37]:
# simple_dictionary = {
#     "Ali" : 59,
#     "Asim" : 78
# }

# print(simple_dictionary["Ali"])

locations : dict[tuple[int,int],str] = { (10, 20): "Park", (30, 40): "Mall" }
print(locations[(10, 20)])  # Output: Park

Park

### Returning Multiple Values from Functions(after function lesson complete)

Tuples are often used to return multiple values:

In [ ]:
def min_max(numbers):
    return min(numbers), max(numbers)

result = min_max([1, 2, 3, 4])
print(result)  # Output: (1, 4)

### Storing Fixed Data

Tuples are ideal for storing data that should not change:

In [38]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(weekdays)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

## Projects

### Project 1: Tuple Operations

Write a program that:

- Creates a tuple of numbers.
- Finds the sum and product of all elements.

### Project 2: Number Classification
**Build a program that:**

- Uses list comprehension to classify numbers in a range from 1 to 5 as "odd" or "even."
- Outputs a list of tuples where each tuple contains the number and its classification.

**Break into step by step:**

You need to create a program that:
- Iterates over a range of numbers from 1 to 5.
- Uses list comprehension to classify each number as either "odd" or "even."
- Outputs a list of tuples, where each tuple contains:
  - The number.
  - Its classification ("odd" or "even").

**  Expected Output:**
  
  [(1,""Odd),(2,"Even"),....]

### Project 3: Contact Book

Create a dictionary where keys are tuples (name, phone number) and values are addresses.

## Conclusion

Tuples are a fundamental data structure in Python, offering immutability, simplicity, and versatility. Whether you're using them for data integrity, as keys in dictionaries, or for returning multiple values, tuples provide a robust solution for various programming scenarios.