# What is List?

## Problem

If you want to store multiple items, you would need to create a separate variable for each one.

```
student1 = "Ahmad"
student2 = "Ali"
student3 = "Kashif"
```

This approach works fine if you have just a few items. But what if you have 10, 100, or even more? It quickly becomes unmanageable.

If you want to add or remove an item, you have to manually shift the data around or create new variables.

```
student4 = "Usman"
```

Accessing an item requires you to remember the exact variable name associated with it.

```
print(student1)
print(student2)
```

In [ ]:
# Problem
studnt1 : str = "safirjan"
student2 : str = "ibrahim"
student3 : str = "hilal"
student4 = "abdulsalam"
student5 = "tanveer"

In [ ]:
student1 =  "hilal"
student3 = "safirjan"

print(studnt1)

safirjan

In [ ]:
# Solution
students : list[str] = ["Safir jan", "Ibrahim", "Hilal", "abdulsalam","Tanveer"]
#index                      0           1         2         3           4
print(students)

# print(students[3:5])
print(students[3])
#

['Safir jan', 'Ibrahim', 'Hilal', 'abdulsalam', 'Tanveer']
abdulsalam

In [ ]:
# print (students[3])
students[0] = "Hilal"
students[2] = "Safir Jan"
print(students)

['Hilal', 'Ibrahim', 'Safir Jan', 'abdulsalam', 'Tanveer']

In [ ]:
len(students)

5

### create a mix list with type hint

In [ ]:

# Example with Union (Python 3.5 to 3.9):
from typing import Union, List

mixed_list: List[Union[int, str, float, bool]] = [1, "hello", 3.14, True]

In [ ]:
# Example with | Operator (Python 3.10+):
mixed_list: list[int | str | float | bool] = [1, "hello", 3.14, True]

In [ ]:

dir(students)
[i for i in dir(students) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
students[0] = "Hilal"
students[2] = "Safir Jan"

In [ ]:
print(students)

['Hilal', 'Ibrahim', 'Safir Jan', 'abdulsalam', 'Tanveer']

In [ ]:
print(students[0])

Hilal

In [ ]:
# List of numbers or integers
student_marks = [65,49,23,80,50]

In [ ]:
print(student_marks[0])

65

## Solution

### List
A list in Python is like a container that can hold multiple items, one after another. Imagine you have a shopping list where you write down everything you need to buy. A Python list is very similar, but instead of just groceries, it can hold all kinds of things like numbers, words, or even other lists!

### Store Multiple Items Together:

A list allows you to keep multiple items in one place. For example, if you want to keep track of all your students' names, you can store them in a list.

In [6]:
students : list = ["Ahmad", "Ali", "Kashif"]
          #index   0 -3      1 -2      2 -1

In [7]:
students.append("saleem")

In [8]:
students.append("Usman")
students.append("Ali")
# print(students)

In [9]:
students.append("asim")

In [10]:
print(students[-3])

Usman

In [11]:
print(students)

['Ahmad', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

In [ ]:
print(students[-3])

asim

### Access Items by Position:

Lists keep items in the order you put them in. You can access any item by telling Python where it is in the list (starting from 0).

In [12]:
print(students[0])
print(students[1])
print(students[2])

Ahmad
Ali
Kashif

### Change Items:

You can easily change an item in the list if you need to update it.

In [13]:
students[0]: list[str] = "Saleem"
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

In [14]:
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

## List Methods

In [15]:
[i for i in dir(students) if "__" not in i]

# dir(students)
# len(students) #Python uses __len__ to find out the length of the list.__len__ "behind-the-scenes" functions

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

In [19]:
print(students.pop())

Ali

In [20]:
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman']

In [21]:
del_stu:str = students.pop() # invoke method
print(del_stu) # ali asim                 # usman
print(students)# saleem kashif ali usman  # saleem ali kashif saleem

Usman
['Saleem', 'Ali', 'Kashif', 'saleem']

### Append a new student

In [22]:
students.append("Usman")
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman']

### insert()

In [23]:
students.insert(2,"Khalil")

In [24]:
print(students)

['Saleem', 'Ali', 'Khalil', 'Kashif', 'saleem', 'Usman']

In [25]:
students.insert(0,"ahmad")

In [26]:
print(students)

['ahmad', 'Saleem', 'Ali', 'Khalil', 'Kashif', 'saleem', 'Usman']

In [27]:
students.insert(3,"Iqbal")
print(students)

['ahmad', 'Saleem', 'Ali', 'Iqbal', 'Khalil', 'Kashif', 'saleem', 'Usman']

In [38]:
stu : list[int]= [1,2,3,4,5,6,7]
stu.insert(-2,55)
print(stu)

[1, 2, 3, 4, 5, 55, 6, 7]

### Pop the last student

In [39]:
last_student:list[str] = stu.pop()
print(last_student)
print(stu)

7
[1, 2, 3, 4, 5, 55, 6]

### Remove a specific or custom student by name

In [40]:
stu.remove(55)
print(stu)

[1, 2, 3, 4, 5, 6]

In [41]:
stu.insert(2,1)
print(stu)

[1, 2, 1, 3, 4, 5, 6]

In [46]:
stu.remove(1)
print(stu)

[2, 3, 4, 5, 6]

### shallow copy vs deep copy

In [ ]:
# shallow copy
a : list[str] = ['a','b','c']
b = a # shallow copy
# print(id(a))
# print(id(b))




# a.append('d')
# print("a: ",a)
# print("b: ",b)
# print(id(a), id(b))

['a', 'b', 'c']
134874032877824
134874032877824

In [ ]:
b.append('d')
print(a)
print(b)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
# deep copy
a : list[str] = ['a','b','c']
b = a.copy() # Deep copy by copy() method
a.append('d')
print("a: ",a)
print("b: ",b)
# c = a[:] # another way of Deep copy

a.append('d')
print("a: ", a)
print("b: ", b)
# print("c: ", c)
print(id(a), id(b))

a:  ['a', 'b', 'c', 'd']
b:  ['a', 'b', 'c']
a:  ['a', 'b', 'c', 'd', 'd']
b:  ['a', 'b', 'c']
134874033867072 134874046033472

In [ ]:
c = a[:] # another way of Deep copy by slice

In [ ]:
c.append('e')
print(c)
print(a)

['a', 'b', 'c', 'd', 'd', 'e']
['a', 'b', 'c', 'd', 'd']

In [ ]:
# create new list
a : list[str] = ['a','b','c']
# print(id(a))
a = ['d','e','f']
# print(id(a))
print(a)

### extend()
Supply the array to be extended

In [ ]:
arr1: list[int] = [1,2,3]
a : list[int] = [4,5,6]
arr1.extend(a)
print(arr1)
print(a)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

### clear()

In [ ]:
a.clear()
print(a)

[]

In [ ]:
print(id(a))

134874032986304

In [ ]:
a = 5

a = 6

In [ ]:
# students = ["Ahmad", "Ali", "Kashif"]

# # Using clear()
# students.clear()
# print(id(students))  # Same ID, list cleared in place

# # Reassigning to empty list
# students = ["Ahmad", "Ali", "Kashif"]
# students= []
# print(id(students))

### count(), index methods
### list() method

In [ ]:
characters : list[str] = list("abcdefghijkalmnopqrstbuvwxyz")
# characters : list[str] = ["ahmad"]
print(characters)
characters.count('a')
characters.append("Z")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'a', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'b', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
characters.sort(key=str.lower)

In [ ]:
list4 = ["word","abc","shshjaja"]
list4.sort(key=len)
print(list4)

['abc', 'word', 'shshjaja']

In [ ]:
print(characters)

['a', 'a', 'b', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'Z', 'z']

### index()

In [ ]:
characters.index('a',1)

11

### sort() and reverse() methods
Purpose: Sorts the elements in the list in-place in descending order. It modifies the list to be sorted based on values.

Purpose: Reverses the order of the elements in the list in-place without sorting them. It simply flips the list from end to start.

In [ ]:
characters.sort()
print(characters)

characters.sort(reverse=True)
print(characters)

characters.reverse()
print(characters)

['a', 'a', 'b', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'b', 'a', 'a']
['a', 'a', 'b', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

## Slicing

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

In [ ]:
#                          0    1    2                                                                                                                 25
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                         -26   -25  -24                                                                                                                -1

# defualt slicing go from left to right
print(len(characters))
print(characters[0:6]) # 0= include : index 6-1 = 5
print(characters[:4]) # not pass any number = all
print(characters[-26:-24])# 0= include : index -24-1 = -25
print(characters[0:2:2]) # 0= include : index 2-1 = 1
print(characters[0:2:])
print(characters[0:7:3])

26
['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D']
['A', 'B']
['A']
['A', 'B']
['A', 'D', 'G']

In [ ]:
print(characters[5:-10])

['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P']

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
sub_list =list[0:9:2]
print(sub_list)

[1, 3, 5, 7, 9]

In [ ]:
print(characters)
print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
                        #  1    2    3    4    5    6    7    8
print(characters[::-1])
print(characters[4:2:-1]) #E,D,C
# print(characters[4:7])

['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['E', 'D']

In [ ]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5:-1]) # ['G', 'F', 'E']
print(characters[-5:-2]) # ['D', 'E', 'F']
print(characters[::])
print(characters[::-1])

## `in` and `is` operators

### `in` Operator
The in operator is used to check membership.

In [ ]:
# Example 1: Checking membership
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True
print(6 in my_list)  # Output: False
print(7 not in my_list)  # Output: True

# Example 2: Checking membership in strings
my_string = "Hello, World!"
print("Hello" in my_string)  # Output: True
print("Python" in my_string)

True
False
True
True
False

### `is` Operator
The is operator checks identity, i.e., whether two variables point to the same object in memory

In [ ]:
# Example 1: Checking identity
a = [1, 2, 3]
b = [1, 2, 3]
c = a
print(a is b)  # Output: False (different objects with the same value)
print(a is c)  # Output: True (both variables point to the same object)
print(a is not c)
print("a:",id(a))
print("b:",id(b))
print("c:",id(c))


# Example 2: Comparing primitive types
x = 10
y = 10
print(x is y)  # Output: True (small integers are cached and point to the same object)

False
True
False
a: 137445381134848
b: 137445381134080
c: 137445381134848
True

## Extra

In [ ]:
print(help(print))

## Projects

### Project 1: Student Management System
Create a program to manage a list of student names. Implement functionalities to:
- Add a new student.
- Remove a student by name.
- Display all students in alphabetical order.
- Count the total number of students.

### Project 2: List Operations Demo
Develop a Python script to demonstrate:
- Appending items to a list.
- Inserting an item at a specific position.
- Popping and removing items.
- Sorting and reversing the list.
- Slicing the list to create sub-lists.

### Project 3: Shallow vs. Deep Copy Exploration
Create a program to illustrate the difference between shallow and deep copying of lists using examples.
Display the impact of modifying one list on its copy in both cases.