# What is List?

## Problem

If you want to store multiple items, you would need to create a separate variable for each one.

```
student1 = "Ahmad"
student2 = "Ali"
student3 = "Kashif"
```

This approach works fine if you have just a few items. But what if you have 10, 100, or even more? It quickly becomes unmanageable.

If you want to add or remove an item, you have to manually shift the data around or create new variables.

```
student4 = "Usman"
```

Accessing an item requires you to remember the exact variable name associated with it.

```
print(student1)
print(student2)
```

In [ ]:
# Problem
studnt1 : str = "safirjan"
student2 : str = "ibrahim"
student3 : str = "hilal"
student4 = "abdulsalam"
student5 = "tanveer"

In [ ]:
student1 =  "hilal"
student3 = "safirjan"

print(studnt1)

safirjan

In [ ]:
# Solution
students : list[str] = ["Safir jan", "Ibrahim", "Hilal", "abdulsalam","Tanveer"]
#index                      0           1         2         3           4
print(students)

# print(students[3:5])
print(students[3])
#

['Safir jan', 'Ibrahim', 'Hilal', 'abdulsalam', 'Tanveer']
abdulsalam

In [ ]:
# print (students[3])
students[0] = "Hilal"
students[2] = "Safir Jan"
print(students)

['Hilal', 'Ibrahim', 'Safir Jan', 'abdulsalam', 'Tanveer']

In [ ]:
len(students)

5

### create a mix list with type hint

In [ ]:

# Example with Union (Python 3.5 to 3.9):
from typing import Union, List

mixed_list: List[Union[int, str, float, bool]] = [1, "hello", 3.14, True]

In [ ]:
# Example with | Operator (Python 3.10+):
mixed_list: list[int | str | float | bool] = [1, "hello", 3.14, True]

In [ ]:

dir(students)
[i for i in dir(students) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
students[0] = "Hilal"
students[2] = "Safir Jan"

In [ ]:
print(students)

['Hilal', 'Ibrahim', 'Safir Jan', 'abdulsalam', 'Tanveer']

In [ ]:
print(students[0])

Hilal

In [ ]:
# List of numbers or integers
student_marks = [65,49,23,80,50]

In [ ]:
print(student_marks[0])

65

## Solution

### List
A list in Python is like a container that can hold multiple items, one after another. Imagine you have a shopping list where you write down everything you need to buy. A Python list is very similar, but instead of just groceries, it can hold all kinds of things like numbers, words, or even other lists!

### Store Multiple Items Together:

A list allows you to keep multiple items in one place. For example, if you want to keep track of all your students' names, you can store them in a list.

In [ ]:
students : list = ["Ahmad", "Ali", "Kashif"]
          #index   0 -3      1 -2      2 -1

In [ ]:
students.append("saleem")

In [ ]:
students.append("Usman")
students.append("Ali")
# print(students)

In [ ]:
students.append("asim")

In [ ]:
print(students[-3])

Usman

In [ ]:
print(students)

['Ahmad', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

In [ ]:
print(students[-3])

asim

### Access Items by Position:

Lists keep items in the order you put them in. You can access any item by telling Python where it is in the list (starting from 0).

In [ ]:
print(students[0])
print(students[1])
print(students[2])

Ahmad
Ali
Kashif

### Change Items:

You can easily change an item in the list if you need to update it.

In [ ]:
students[0]: list[str] = "Saleem"
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

In [ ]:
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

## List Methods

In [ ]:
[i for i in dir(students) if "__" not in i]

# dir(students)
# len(students) #Python uses __len__ to find out the length of the list.__len__ "behind-the-scenes" functions

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman', 'Ali', 'asim']

In [ ]:
print(students.pop())

Ali

In [ ]:
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman']

In [ ]:
del_stu:str = students.pop() # invoke method
print(del_stu) # ali asim                 # usman
print(students)# saleem kashif ali usman  # saleem ali kashif saleem

Usman
['Saleem', 'Ali', 'Kashif', 'saleem']

### Append a new student

In [ ]:
students.append("Usman")
print(students)

['Saleem', 'Ali', 'Kashif', 'saleem', 'Usman']

### insert()

In [ ]:
students.insert(2,"Khalil")

In [ ]:
print(students)

['Saleem', 'Ali', 'Khalil', 'Kashif', 'saleem', 'Usman']

In [ ]:
students.insert(0,"ahmad")

In [ ]:
print(students)

['ahmad', 'Saleem', 'Ali', 'Khalil', 'Kashif', 'saleem', 'Usman']

In [ ]:
students.insert(3,"Iqbal")
print(students)

['ahmad', 'Saleem', 'Ali', 'Iqbal', 'Khalil', 'Kashif', 'saleem', 'Usman']

In [ ]:
stu : list[int]= [1,2,3,4,5,6,7]
stu.insert(-2,55)
print(stu)

[1, 2, 3, 4, 5, 55, 6, 7]

### Pop the last student

In [ ]:
last_student:list[str] = stu.pop()
print(last_student)
print(stu)

7
[1, 2, 3, 4, 5, 55, 6]

### Remove a specific or custom student by name

In [ ]:
stu.remove(55)
print(stu)

[1, 2, 3, 4, 5, 6]

In [ ]:
stu.insert(2,1)
print(stu)

[1, 2, 1, 3, 4, 5, 6]

In [ ]:
stu.remove(1)
print(stu)

[2, 3, 4, 5, 6]

In [ ]:
# student_marks : int = [65,49,23,80,50]
# student_marks.append(22)
# print(student_marks)
# student_marks.remove(23)
# print(student_marks)
# student_marks.pop()
# print(student_marks)
student_marks.pop()
student_marks.insert(3,11)
print(student_marks)

[65, 49, 80, 11, 50, 22, 22]

In [ ]:
print(student_marks)

[65, 49, 80, 11, 50, 22, 22]

In [ ]:
del_value = student_marks.pop()
print(del_value)

22

In [ ]:
print(student_marks)

[65, 49, 80, 11, 50, 22]

In [ ]:
print(student_marks.pop())

22

In [ ]:
print(student_marks)

[65, 49, 80, 11, 50]

### shallow copy vs deep copy

In [ ]:
a = 4
b = 4
print(id(a))
print(id(b))

10750952
10750952

In [ ]:
roll_num1 : int = [1,2,3,4,5,6]
roll_num2: int = [1,2,3,4,5,6]
print(id(roll_num1))
print(id(roll_num2))

135471832689472
135471832688512

In [ ]:
a = 5
print(id(a))
a = 6
print(id(a))

10750984
10751016

In [ ]:
a : list[int] = [1,2,3]
print(id(a))
a.append(4)
print(id(a))

135471834662080
135471834662080

In [ ]:
a = 5
b= a
print(id(a))
print(id(b))

10750984
10750984

In [ ]:
# shallow copy
# address copy, not value
a = [1,2,3]
b = a
print(id(a))
print(id(b))

135471833764096
135471833764096

In [ ]:
b.append(4)
print(a)#1234
print(b)#1234

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# deep copy
# value copy, not address copy

a = [1,2,3]
b = a.copy()
print(id(a))
print(id(b))

135471833772800
135471834662464

In [ ]:
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
# deep copy
a : list[str] = ['a','b','c']
# b = a.copy() # Deep copy by copy() method
b = a[:] # Deep copy by copy() method
a.append('d')
print("a: ",a)#abcd
print("b: ",b)#abc
# c = a[:] # another way of Deep copy

### extend()
Supply the array to be extended

In [ ]:
arr1: list[int] = [1,2,3]
a : list[int] = [4,5,6]
arr1.extend(a)
print(arr1)
print(a)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5, 6]]

In [ ]:
print([list1[3]])

[[4, 5, 6]]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

### clear()

In [ ]:
list1.clear()
print(list1)

[]

### count(), index methods
### list() method

In [ ]:
characters : list[str] = list("abcdefghijkalmnopqrstbuvwxyz")
# characters : list[str] = ["ahmad"]
print(characters)
characters.count('a')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'a', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'b', 'u', 'v', 'w', 'x', 'y', 'z']

2

### index()

In [ ]:
characters.index('a',0)

0

In [ ]:
characters.index('a',1)

11

In [ ]:
print(f"first a at index:{characters.index('a')} and second a at index:{characters.index('a',1)}")

first a at index:0 and second a at index:11

### sort() and reverse() methods
Purpose: Sorts the elements in the list in-place in descending order. It modifies the list to be sorted based on values.

Purpose: Reverses the order of the elements in the list in-place without sorting them. It simply flips the list from end to start.

In [ ]:
characters.sort()
print(characters)

['a', 'a', 'b', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
print(characters)
characters.reverse()
print(characters)
# characters.sort(reverse=True)
# print(characters)

['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'b', 'a', 'a']
['a', 'a', 'b', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

## Slicing

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
# b = a.copy()
b = a[:] #slicing
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a     = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#index   0  1  2  3  4  5  6  7  8   9
b = a[0:5] # start : end(index - 1)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
print(b)
c = b[0:3]
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#    0  1  2
b = a[3:7:3]
print(b)

[4, 7]

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
name = "Hassan"
list1 = list(name)
print(list1)
# ['H','a'

['H', 'a', 's', 's', 'a', 'n']

In [ ]:
characters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
characters[-26:3]

['A', 'B', 'C']

In [1]:
#                          0    1    2                                                                                                                 25
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
#                         -26   -25  -24                                                                                                                -1

# defualt slicing go from left to right
print(len(characters))

26

In [2]:
print(characters[2:6]) # 0= include : index 6-1 = 5

['C', 'D', 'E', 'F']

In [7]:
# Test on monday
print(characters[:4]) # not pass any number = all
print(characters[-26:-24])# 0= include : index -24-1 = -25
print(characters[0:2:2]) # 0= include : index 2-1 = 1
print(characters[0:2:])
print(characters[0:7:3])

['A', 'B', 'C', 'D']
['A', 'B']
['A']
['A', 'B']
['A', 'D', 'G']

In [8]:
print(characters[5:-10])

['F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P']

In [9]:
list = [1,2,3,4,5,6,7,8,9,10]
sub_list =list[0:9:2]
print(sub_list)

[1, 3, 5, 7, 9]

In [11]:
print(characters)
print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [5]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
                        #  1    2    3    4    5    6    7    8
print(characters[::-1])
print(characters[4:2:-1]) #E,D,C
print(characters[4:7])

['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['E', 'D']
['E', 'F', 'G']

In [1]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

# iteration slicing ->
# step -> positive
# step <- negative
print(characters[-2:-5:-1]) # ['G', 'F', 'E']
print(characters[-5:-2]) # ['D', 'E', 'F']
print(characters[::])
print(characters[::-1])

['G', 'F', 'E']
['D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

## `in` and `is` operators

### `in` Operator
The in operator is used to check membership.

In [13]:
# Example 1: Checking membership
my_list = [1, 2, 3, 4, 5]
print(6 in my_list)  # Output: True
print(1 in my_list)  # Output: False
print(7 not in my_list)  # Output: True

# # Example 2: Checking membership in strings
my_string = "Hello, World!"
print("Hello" in my_string)  # Output: True
print("Python" in my_string)

False
True
True
True
False

### `is` Operator
The is operator checks identity, i.e., whether two variables point to the same object in memory

In [17]:
a= 5
b= 5
print(a is b)

True

In [20]:
# Example 1: Checking identity
a = [1, 2, 3]
b = [1, 2, 3]
c=a
# c= a.copy()

# a.append(4)
# print(a)
# print(c)

print(a is b)  # Output: False (different objects with the same value)
print(a is c)  # Output: True (both variables point to the same object)
print(a is not c)
print("a:",id(a))
print("b:",id(b))
print("c:",id(c))


# # Example 2: Comparing primitive types
# x = 10
# y = 10
# print(x is y)  # Output: True (small integers are cached and point to the same object)

False
True
False
a: 136810327074560
b: 136810327076352
c: 136810327074560

## Extra

In [ ]:
print(help(print))

## Projects

### Project 1: Student Management System
Create a program to manage a list of student names. Implement functionalities to:
- Add a new student.
- Remove a student by name.
- Display all students in alphabetical order.
- Count the total number of students.

### Project 2: List Operations Demo
Develop a Python script to demonstrate:
- Appending items to a list.
- Inserting an item at a specific position.
- Popping and removing items.
- Sorting and reversing the list.
- Slicing the list to create sub-lists.

### Project 3: Shallow vs. Deep Copy Exploration
Create a program to illustrate the difference between shallow and deep copying of lists using examples.
Display the impact of modifying one list on its copy in both cases.